<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.obelix.receiptsbox">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyChhVEY86qTQaPmMkxQ711Oab27-0EmxH0" />


        <activity
            android:name=".AddReceipt"
            android:label="@string/title_activity_add"
             />

        <activity
            android:name=".CentralActivity"
            android:label="@string/title_activity_central">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".ReceiptContentProvider"
            android:authorities="com.obelix.receiptsbox"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"></activity>

        <activity android:name=".PhoneAuthActivity"
            android:parentActivityName=".CentralActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CentralActivity" />
        </activity>

        <receiver android:name=".ReceiptWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/receiptbox_widget_provider_info" />
        </receiver>
    </application>

</manifest>